.edit-page-card {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    border-radius: 10px;
    margin: 1%;
    height: 97%;
}

.edit-page-card-title {
    padding: 1%;
    padding-bottom: 0%;
}

.edit-page-card-content {
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    flex-grow: 1;
}

.edit-page-pic {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.edit-page-form {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items:center;
    padding: 0%;
}

/* image */

.edit-page-photo-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #707070;
    border-radius: 10px;
    height: 100%;
    width: 30%;
    
}

.edit-page-photo-options input {
    color: #ffffff;
}

.edit-page-image {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

/* info options */

.edit-page-info-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    flex-grow: 1;
}

.edit-page-names-options, .edit-page-descriptions-options {
    display: flex;
    flex-direction: column;
    align-content: left;
    padding: 2%;
}


.edit-page-names-options input, .edit-page-config-options input {
    color: #ffffff;
}

.edit-page-config-options {
    flex-grow: 1;
    padding: 2%;
}

.edit-page-final-buttons {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button design */

.edit-page-button, .edit-page-button:focus, .edit-page-button-2, .edit-page-button-2:focus {
    margin: 1%;
    margin-left: 2%;
    background-color:transparent;
    border-color: transparent;
    border-radius: 10px;
    color:#ffffff;
}

.edit-page-button:hover {
    border-color: transparent;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}

.edit-page-button-2:hover {
    border-color: transparent;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
}

/* old */

.notification * {
    display: inline;
}
