.group-presentation-text {
    flex-grow: 1;
}

.page-group-info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-name-favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.group-name-favorite h1 {
    margin-right: 1%;
}

/* groups page cards */

.group-page-content-tab {
    padding-top: 0.5%;
}

.groups-page-card {
    background-color: #353535;
    border-radius: 10px;
    padding: 1%;
    margin: 1%
}

.groupsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1%;
    justify-content: center;
}

.groupCard {
    width: 20em;
    height: 28em;
    max-height: 28em;
    padding: 0%;
    background-color: #353535;
    border-radius: 10px;
    margin-bottom:0.5%;
    margin-top: 0.5%;
}

.groupCard:hover{
    background-color: #707070;
}

.groupCard h2 {
    font-size: 1.5em;
    margin: 0;
}

.groupCard a:hover{
    text-decoration: none;
    color:#00aff0;
}

.groupCard h5 {
    font-size: 1em;
    margin: 0;
    color: white;
}

.group-card-content {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
    padding: 0%;
    height: 100%;
    border-radius: 10px;
}

.card-body {
    background-color: #353535;
    border-radius: 10px;
    flex-grow: 1;
    max-height: 50%;
    overflow:hidden;
}

.group-card-content:hover .card-body {
    background-color: #707070;
    border-radius: 10px;
}

.group-card-image-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-card-image-holder img {
    object-fit: none;
    aspect-ratio: 1/1;
    max-height: 25em;
    margin: auto;
    border-radius: 10px;
}

.card-text, .card-title:hover {
    color: #ffffff;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
