.close{
    margin-right: 2%;
    background-color: transparent;
    border: none;
}


#posts {
    background-color: #252525;
}

.main-post{
    background-color: #353535;
    padding: 1%;
    margin: 1%;
}

.newpostbutton{
    background: url(../images/icons/addPost.png);
    background-size: cover;
    background-position: center;
    position: fixed; 
    top: 55px; 
    right: 10px;
    opacity: 70%;
    width:  70px;
    height: 43.3px;
    border: none;
}

.searchpagebutton{
    background: url(../images/icons/searchIcon.png);
    background-size: cover;
    background-position: center;
    position: fixed; 
    top: 10px; 
    right: 10px;
    opacity: 70%;
    width:  70px;
    height: 43.3px;
    border: none;
}

.notificationspagebutton{
    background: url(../images/icons/notifIcon.png);
    background-size: cover;
    background-position: center;
    position: fixed; 
    top: 100px; 
    right: 10px;
    opacity: 70%;
    width:  70px;
    height: 43.3px;
    border: none;
    color: #ff7171;
}

.newpostbutton:hover,.searchpagebutton:hover, .notificationspagebutton:hover{
    opacity: 100%;
    background-color: transparent;
}

#newpost, #newgroup > form{
    background-color: #353535;
    margin: 1em;
    padding: 1em;
}

#newpost-content > form, #newgroup > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #00aff0;
}
#newpost-content > form textarea, #newgroup > form textarea {
    color: white;
}
#newpost-content > form .error, #newgroup > form .error {
    font-weight: bold;
    color: #ff3333;
}
#newpost-content > form input, #newgroup > form input{
    background-color: white;
}

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #353535;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
