.message-page-chat {
    background-color: #353535;
    border-radius: 10px;
    margin: 1%;
    min-height: 96%;
    max-height: 96%;
    display: flex;
    flex-direction: column;
}

.msg-contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #707070;
    border-radius: 10px;
    padding: 1%;
}

.msg-contact-info img {
    border-radius: 50%;
    width: 7%;
    aspect-ratio: 1/1;
    margin-right: 1%;
}

.msg-messages {
    padding:1%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.msg-create {
    width: 100%;
    background-color: #707070;
    border-radius: 10px;
}

.msg-create-article{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width:100%;
    padding: 1%;
}

.message-form-card {
    flex-grow: 1;
    width:100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}

.message-form-card textarea {
    margin: 0%;
}

.button-message, .button-message:focus {
    background-color:transparent;
    border-color: transparent;
    border-radius: 10px;
    color:#ffffff
}

.button-message:hover {
    border-color: transparent;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}

/* spcific message */

.msg-left{
    display: flex;
    justify-content: left;
}

.msg-right {
    display: flex;
    justify-content: right;
}

.msg-page-message-ballon-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #2bd800;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 2%;
    position: relative;
    max-width: 80%;
}

.msg-bubble-right {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 5%;
	bottom: -10px;
	border: 10px solid;
	border-color: #2bd800 #2bd800 transparent transparent;
}

.msg-page-message-ballon-me h7 {
    margin-left: auto;
}


.msg-page-message-ballon-other {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #001797;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 2%;
    position: relative;
    max-width: 80%;
}

.msg-bubble-left {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5%;
    right: auto;
    top: auto;
	bottom: -10px;
	border: 10px solid;
	border-color: #001797 transparent transparent #001797;
}

@media only screen and (max-width: 800px) {
    .msg-page-message-ballon-me, .msg-page-message-ballon-other {
        margin-bottom: 5%;
    }
}

.chat-audio-start, .chat-audio-start:focus, .chat-audio-stop, .chat-audio-stop:focus {
    background-color:transparent;
    border-color: transparent;
    border-radius: 10px;
    color:#ffffff
}

.chat-audio-start:hover, .chat-audio-stop:hover{
    border-color: transparent;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}

.chat-msg-content{
    word-wrap: break-word;
    hyphens: auto;
}
