.notification-page-card {
    background-color: #353535;
    border-radius: 10px;
    padding: 1%;
    margin: 1%
}

.notif-nav-bar-button {
    background-color: #353535;
}

/* follower and following cards */

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #353535;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}

.notification-message {
    flex-grow: 1;
}

.notification-message a {
    color: #00aff0 !important;
    cursor:pointer !important;
}

.notification-message a:hover {
    color: #606c76 !important;
    cursor:pointer !important;
}

.notification-button, .pnotification-button:focus {
    margin: 1%;
    margin-left: 2%;
    background-color:transparent;
    border-color: transparent;
    border-radius: 10px;
    color:#ffffff;
}

.notification-button:hover {
    border-color: transparent;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}
