#presentation {
    margin-bottom: 2%;
}

.presentation-profile-card, .presentation-group-card {
    background-color: #353535;
    border-radius: 10px;
}

.profile-presentation, .group-presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.profile-presentation img, .group-presentation img {
    max-width: 15em;
    aspect-ratio: 1/1;
    margin: 2em;
    border-radius: 50%;
    align-self: stretch;
}

.profile-presentation-text, .group-presentation-text {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.profile-description, .group-description {
    padding: 2% 4% 2% 4%;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}

#profile-text{
    margin-bottom: 3%;
    align-self: start;
    justify-self: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tabs-section{
    border-radius: 10px;
}

.profile_name, .group_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#interaction-stats{
    display: flex; 
    justify-content: space-between;
}

.inviteToGroup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
    background-color: #353535;
    width: 600px;
    max-width: 80%;
    visibility: hidden;
}

/* POPUP */

.popup-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.popup-header #close-button{
    background-color: transparent;
    margin-top: 7.5px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.popup-header #close-button:hover{
    background-color: rgb(77, 77, 77);
}

.popup-group-item{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.popup-group-item p{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.popup-group-item button{
    background-color: transparent;
    border: none;
}

.popup-group-item button:hover{
    background-color: rgb(77, 77, 77);
    border: none;
}

.profile-interaction-buttons {
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
}

.profile-interaction-button, .profile-interaction-button:focus, .group-interaction-button, .button-interaction-button:focus{
    margin: 1%;
    margin-left: 2%;
    background-color:transparent;
    border-color: transparent;
    border-radius: 10px;
    color:#ffffff;
}

.profile-interaction-button:hover, .group-interaction-button:hover {
    border-color: transparent;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}

.profile-nav-bar-button, .group-nav-bar-button {
    background-color: #353535;
}

/* follower and following cards */

.follow-person-card,  .member-person-card {
    display: grid;
    background-color: #353535;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}

.user-profile-pic {
    grid-column: 1;
    grid-row: 1 / span 2;
    border-radius: 50%;
    width: 500%;
    aspect-ratio: 1/1;
}

.profile-follow-card-user, .group-follow-card-user {
    grid-column: 2;
    grid-row: 1;
}

.profile-follow-card-username, .group-follow-card-username {
    grid-column: 2;
    grid-row: 2;
}

.profile-follow-card-button, .group-member-card-button {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.group-member-card-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
