/* page layout (from admin) */

.error {
    color: rgb(222, 18, 18);
}

.search-result-posts, .search-results-users, .search-results-comments, .search-results-groups {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#search {
    color: white;
}

#search::placeholder {
    color: white;
}

.user-username {
    color: #00aff0;
    min-width: 300px;
}

#results-users article, #followers article, #following article, #group-members article{
    display: grid;
    grid-template-columns: 10% 70% 1fr 1fr;
    align-items:center;
    column-gap: 0.5%;
}

/* page layout (from search) */

.search-page-card {
    background-color: #353535;
    border-radius: 10px;
    padding: 1%;
    margin: 1%
}

#search {
    color: white;
}

#search::placeholder{
    color: white;
}

.search-nav-bar-button {
    background-color: #353535;
}

#results-users, #results-posts, #results-groups, #results-comments { 
    flex-direction: column;
}

.user-search-item {
    display: grid;
    grid-template-areas: 
        "image name"
        "image username";
    grid-template-columns: 12.5% 1fr;
    background-color: #353535;
    padding: 1em;
    margin: 1em;
    justify-items: start;
}

.user-search-item img {
    grid-area: image;
    min-width: 6em;
    max-width: 8em;
    border-radius: 50%;
}

.user-search-item h3 {
    grid-area: name;
    padding-top: 1em;
}

.user-search-item h4 {
    grid-area: username;
}

.post-search-item, .group-search-item, .comment-search-item {
    background-color: #353535;
    padding: 1em;
    margin: 1em;
}

/* search page buttons design */

.search-page-button, .search-page-button:focus{
    margin: 1%;
    margin-left: 2%;
    background-color:transparent;
    border-color: transparent;
    border-radius: 10px;
    color:#ffffff;
}

.search-page-button:hover {
    border-color: transparent;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}

/* follower and following cards */

.seach-page-card {
    display: grid;
    background-color: #353535;
    border-radius: 10px;
    margin: 1%;
}

.search-page-card-user {
    grid-column: 2;
    grid-row: 1;
}

.search-user-card-username {
    grid-column: 2;
    grid-row: 2;
}

.search-page-card-buttons {
    grid-column: 3;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
