#sidebar {
    background-color: #353535;
    height: 100%;
    min-width: 350px;
    width: 18%;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    overflow-y: scroll;
}

#sidebar::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 750px) {
    #sidebar {
        min-width: 100%;
    }

}

.side-bar-top-portion{
    min-height: 87vh;
}

#bar-header, #bar-middle{
    padding: 3%
}

#bar-middle{
    flex-grow: 1;
}

.dropdown-sidebar{
    background: url(../images/icons/dropdown.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 10px;
}

#bar-header-login, #recoverPassword, #recover{
    padding: 0px 20px 0px 20px;
}

#logo{
    display: flex;
    justify-content: center;
}

.bar-footer-buttons{
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
}

.input-text-field {
    color: white;
}

.input-text-field::placeholder {
    color: white;
}

/* button style */

.sidebar-button, .sidebar-button:focus, .sidebar-button-2, .sidebar-button2:focus  {
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin: 5%;
    border-radius: 10px;
}

.sidebar-button:hover{
    border-color: transparent;
    background-color: #777777;
    border-radius: 10px;
}

.sidebar-button-2:hover {
    border-color: transparent;
    background-color: #494949;
    border-radius: 10px;
}

/* title */

.sidebar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    margin-bottom: 5%;
}

/* closing side bar */ 

.close-sidebar-button {
    width: 50%;
    aspect-ratio: 1 / 1;
}

.close-sidebar-button i{
    font-size: large;
}

.sidebar-hidden {
    min-width: 0px !important;
    width: 0% !important;
    transition-delay: 0.1s;
    transition: width 0.15s linear;
}

.sidebar-shown {
    min-width: 350px;
    width: 18%;
    transition-delay: 0.1s;
    transition: min-width 0.15s ease-out;
}

.open-sidebar-button {
    background: url(../images/icons/showSideBar.png);
    background-size: cover;
    background-position: center;
    position: fixed; 
    top: 10px; 
    left: 10px;
    opacity: 70%;
    width:  70px;
    height: 43.3px;
    border: none;
}

.open-sidebar-button:hover {
    opacity: 100%;
    background-color: transparent;
}

.open-sidebar-button-hidden {
    visibility: hidden;
}

.open-sidebar-button-shown {
    visibility: visible;
    transition-delay: 0.18s;
    transition: visibility 0.1s linear;
}


/* user info slot */

.sidebar-user-info {
    background-color: #777777;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar-profile-pic {
    border-radius: 50%;
    min-width: 28%;
    width: 28%;
    aspect-ratio: 1/1;
    margin-right: 10%;
    margin: 3%;
}

.sidebar-user-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
    flex-grow: 1;
    max-width: 50%;
}

.sidebar-user-user{
    font-size: 100%;
}

.sidebar-user-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}

.sidebar-user-options {
    color: #ffffff;
}

/* groups section */
.groups-section, .chats-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #777777;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 1%;
}

.group-div-title, .chat-div-title {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.groups-section{
    max-height: 35em;
}

#my_groups, #fav_groups{
    max-height: 17.5em;
    overflow-y: scroll;
}

#my_groups::-webkit-scrollbar, #fav_groups::-webkit-scrollbar{
    display: none;
}

.sidebar-group-button{
    border-radius: 10px;
}

/* bar group card (individual) */

.bar-group-item {
    background-color: #494949;
    border-radius: 10px;
    margin: 1%;
    display: flex;
    align-items: center;
}

.bar-group-image, .bar-chat-image {
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 2%;
}

/* side bar footer links and */


/* side bar positioning */

.sidebar-itens-positioning {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

.sidebar-main-content {
    flex-grow: 1;
}

.sidebar-li-footer {
    margin-top: auto;
}

/* login form */
.login-form-sidebar, .recover-password-sidebar, .register-form-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #777777;
    border-radius: 10px;
    padding: 3%;
    color: #ffffff;
}

.login-form-sidebar-action, .register-form-sidebar-action {
    color: #ffffff;
}

.sidebar-login-form-buttons, .sidebar-recover-form-buttons, .sidebar-register-form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* recover password */

.sidebar-recover, .sidebar-recover-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* sidebar options */

.sidebar-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #777777;
    border-radius: 10px;
    padding: 3%;
    color: #ffffff;
}

.delete-account-button:hover, .delete-group-button:hover {
    background-color: #ff7676;
}

/* home card with button to messages */

.home-chat-section {
    background-color: #777777;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
}
.sidebar-chat-anchor {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.sidebar-chat-button {
    display: block;
    width: 100%;
}

.sidebar-chat-anchor:hover {
    background: #494949;
}

/* sidebar chats list */

.sidebar-search-chat {
    background-color: #494949;
    border-radius: 10px;
    margin: 1%;
}

.sidebar-chat-search, .sidebar-chat-search:focus, .sidebar-chat-search:hover {
    border: 0px solid !important;
    margin: 0%;
}

.sidebar-chat-list-anchor{
    background-color: #494949;
    border-radius: 10px;
    margin: 1%;
    display: flex;
    align-items: center;
}

.sidebar-message-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
}

.sidebar-message-user-name h5 {
    margin: 0%;
}

.sidebar-chat-list-notification {
    margin: 2%;
    background-color: red;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    min-width: 4%;
}

.sidebar-current-chat-list {
    max-height: 40vh;
    overflow-y: auto;
}

.sidebar-current-chat-list::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-height: 600px) {
    .sidebar-current-chat-list {
        max-height: 200px;
        overflow-y: auto;
    }
}
